@model pRoom.meetNewVM
<div class="modal" id="deviceJanusModal" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="deviceModalTitle" class="modal-title">@Model.translate.device_title</h4>
                <button type="button" onclick="device.save()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
          <div id="inputs-area">
            <div>
              <select
                id="video-input"
                class="custom-select"
                onchange="appActions.handleDeviceSelected(event)"
              >
                <option selected>Video Input (default)</option>
              </select>
            </div>
            <br />
            <div>
              <select
                id="audio-input"
                class="custom-select"
                onchange="appActions.handleDeviceSelected(event)"
              >
                <option selected>Audio Input (default)</option>
              </select>
            </div>
              <br />
            <div>
              <select
                id="audio-output"
                class="custom-select"
                onchange="appActions.handleDeviceSelected(event)"
              >
                <option selected>Audio Output (default)</option>
              </select>
            </div>
          </div>


            </div>

            <!-- Modal footer -->
            <div id="iconDevicelPanel" class="modal-footer">
                @*<button type="button" class="btn btn-danger" onclick="device.close()" data-dismiss="modal" >Close</button>*@
                <button type="button" class="btn btn-success" onclick="device.save()" data-dismiss="modal">@Model.translate.select</button>
                @*<button type="button" class="btn btn-danger" onclick="device.close()" data-dismiss="modal">انصراف</button>*@
            </div>

        </div>
    </div>
</div>
<div class="modal" id="deviceUnpublisherModal" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="deviceModalTitle" class="modal-title">  @Model.meetName  </h4>
            </div>
            <div class="modal-body">

                <div class="col-md-6">
                    <p style="font-weight: bold;" id="errMessage"></p>
                    @if (Model.userName != "")
                    {
                        <div style="margin-bottom:10px;"><div style="width:140px;float:initial; ">@Model.translate.front_userName </div> <input id="userName" value="@Model.userName" type="text" /></div>
                    }
                    else
                    {
                        <div style="margin-bottom:10px;"><div style="width:140px;float:initial;">@Model.translate.front_userName </div> <input id="userName" placeholder="@Model.translate.front_userName" type="text" /></div>
                    }
                      @if (Model.password != "0")
                    {
                        <div style="width:140px;">@Model.translate.password</div> <span><input style="" type="text" value="@Model.password" placeholder="password" id="tpass" /></span>
                    }
                </div>
                <div class="col-md-6" style="margin-top:20px;">
                    <a class="btn btn-primary" onclick="joinRoom('t')">@Model.translate.front_start_EnterMeeting</a>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                @*<button type="button" class="btn btn-danger" onclick="device.close()" data-dismiss="modal" >Close</button>*@
                <button type="button" class="btn btn-success" onclick="loading.sendForm()"  >@Model.translate.EnterMeet</button>

            </div>

        </div>
    </div>
</div>